.photo{
    width: 500mvh;
    height: 500mvh;
}

.login{
    align-items: center;
}
.input-email{
    height: 50px;
    background: rgba(217, 105, 7, 0.87);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #F2F2F2;
}
.input-password{
    display: flex;
    height: 50px;
    background: rgba(217, 105, 7, 0.87);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #F2F2F2;
}

.btn-login{
width: 100px;
height: 50px;
background: rgba(217, 105, 7, 0.87);
border-radius: 10px;
color: rgba(242, 242, 242, 0.47);  
font-family: 'Open Sans', sans-serif;

}

.font-enter{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 28px;
/*line-height: 74px;*/
color: rgba(242, 242, 242, 0.47);  
}

.btn-register{
font-family: Roboto;
font-style: normal;
font-size: 34px;
color: rgba(242, 242, 242, 0.68);
}

.footer{
    font-family: Snippet;
    font-style: normal;
    font-size: 30px;
    color: rgba(242, 242, 242, 0.68);
    }